.contact-hero {
  height: 300px;
  background: $dark-main url("/images/contact-hero2.jpg") no-repeat;
  background-size: cover;
  background-position: 0 0%;
}

.contact-card-container {
  padding: 64px 0;
}

.white-contact-card {
  padding: 18px 135px 55px;
  background: $white;
  margin: 0 auto;
  width: 80%;
  max-width: 736px;
  h1 {
    text-align: center;
    margin-bottom: 50px;
  }
  ol {
    list-style-position: inside;
  }
  p {
    margin-bottom: 12px;
  }
  label {
    text-transform: uppercase;
    color: $accent-text;
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 1.25rem;
    // &:first-child {
    //   margin-top: 30px;
    // }
  }
  .personal-input {
    display: flex;
    flex-direction: column;
  }
  input,
  textarea {
    margin-bottom: 30px;
    padding: 5px;
    border: 2px solid $dark-main;
  }
  .form-submit {
    display: block;
    margin: 0 auto;
  }
}

textarea {
  resize: none;
}

fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

@media (max-width: 768px) {
  .contact-card-container {
    padding: 32px 0;
  }
  .white-contact-card {
    padding: 18px 55px 55px;
  }
  .contact-hero {
    opacity: 0.35;
    height: 150px;
  }
}

@media (max-width: 480px) {
  .white-contact-card {
    padding: 20px;
    input,
    textarea {
      width: 100%;
    }
    textarea {
      resize: vertical;
    }
  }
}
