.current {
  display: flex;
  flex-direction: column;
  flex: 0 0 70%;
  margin-right: 5%;
  ul {
    display: flex;
    flex-wrap: wrap;
  }
  li {
    margin-right: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 44px 0;
    border: 3px solid $dark-main;
    width: 189px;
    height: 189px;
  }
  svg {
    color: $secondary-accent-text;
    margin-bottom: 20px;
  }
  img {
    margin-bottom: 20px;
    width: 48px;
  }
}

.future {
  display: flex;
  flex-direction: column;
  flex: 0 0 30%;
  ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  li {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 44px 0;
    border: 3px solid $dark-main;
    width: 189px;
    height: 189px;
  }
  svg {
    color: $button-background-teal;
    margin-bottom: 20px;
  }
  img {
    margin-bottom: 20px;
    width: 48px;
  }
}

.featured-project {
  @include wrapper;
  padding: 40px 0 80px;
  h2 {
    text-align: center;
    margin-bottom: 30px;
  }
  img,
  video {
    margin-bottom: 30px;
  }
  video {
    width: 100%;
  }
  h3 {
    color: $accent-text;
    margin-bottom: 12px;
  }
  .featured-layout {
    display: flex;
  }
  .project-description {
    flex: 0 0 65%;
    margin-right: 88px;
    .tech-used {
      margin-top: 12px;
    }
  }
  a {
    max-height: 62px;
  }
  strong {
    display: block;
  }
}

// media queries
@media (max-width: 768px) {
  .home-hero {
    .introduction {
      top: calc(50% - 200px);
      left: 5%;
      max-width: 55%;
    }
    .hero-image-container {
      img {
        object-position: 80%;
      }
    }
  }
  .current {
    margin-right: 0;
    flex: 0 0 100%;
    ul {
      justify-content: space-evenly;
    }

    li {
      padding: 33px 0;
      margin-right: 0;
    }
    img {
      width: 64px;
      margin-bottom: 27px;
    }
  }
  .future {
    ul {
      flex-direction: row;
      justify-content: space-evenly;
    }
    img {
      margin-bottom: 22px;
    }
  }
  .featured-project {
    padding: 40px 0 0;
    .featured-layout {
      flex-direction: column;
    }
    .project-description {
      margin-right: 0;
    }
    a {
      margin-top: 12px;
    }
    video {
      border: 2px solid $dark-main;
      background: linear-gradient($dark-main, #fff);
    }
  }
}

@media (max-width: 450px) {
  .home-hero {
    .introduction {
      top: 180px;

      max-width: 90%;
    }
    .hero-image-container {
      img {
        object-position: center;
      }
    }
  }
  .current,
  .future {
    li {
      padding: 10px 0;
      width: 100px;
      height: 100px;
    }
  }
  .future {
    ul {
      flex-wrap: wrap;
    }
  }
  .current {
    img {
      width: 28px;
      margin-bottom: 21px;
    }
  }
  .future {
    img {
      width: 29px;
      margin-bottom: 18px;
    }
  }
  .featured-project {
    video {
      max-height: 164px;
    }
  }
}
