header {
  position: absolute;
  width: 100%;
  z-index: 1000;
}

.header-nav {
  margin-top: 54px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .logo-container {
    width: 64px;
    height: 64px;
  }
  ul {
    display: flex;
    justify-content: space-between;
    flex: 0 0 30%;
  }
  li {
    text-transform: uppercase;
    display: inline;
    text-align: center;
    a {
      padding-bottom: 10px;
      cursor: pointer;
      position: relative;
      color: $dark-main;
    }
  }
  .selected {
    border-bottom: 2px solid $white;
  }
}

.lighten-nav {
  .selected {
    color: $accent-text;
    border-bottom: 2px solid $accent-text;
  }
}

@media (max-width: 768px) {
  .header-nav {
    ul {
      flex: 0 0 40%;
    }
  }
}

@media (max-width: 480px) {
  .header-nav {
    .logo-container {
      width: 56px;
      height: 56px;
    }
    ul {
      flex: 0 0 70%;
      justify-content: space-around;
      li:first-child {
        display: none;
      }
    }
  }
}
