.projects-container {
  background: #fff url("/images/projects-bg.jpg") no-repeat;
  background-size: contain;
  background-position: 0 100px;
  background-attachment: fixed;
  h1 {
    text-align: center;
    padding: 174px 0 64px;
  }
}

.skills-list {
  @include wrapper;
  display: flex;
  justify-content: space-around;
  margin-bottom: 60px;
  button {
    background: none;
    border: none;
    border-bottom: 2px solid transparent;
    &:focus {
      outline: none;
      border-bottom: 2px solid $accent-text;
    }
  }
  .active-btn {
    font-weight: bold;
    color: $accent-text;
    border-bottom: 2px solid $accent-text;
  }
}

.project-card-list {
  @include wrapper;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .card {
    flex: 0 0 45%;
    border: 1px solid $dark-main;
    background: $white;
    margin-bottom: 60px;
    position: relative;
  }
  .button-positioning {
    position: absolute;
    bottom: 30px;
    left: 30px;
    width: 90%;
  }
  img {
    border-bottom: 1px solid #e5e5e5;
  }
  .copy {
    padding: 30px;
    min-height: 360px;
    a {
      color: $button-background-teal;
      &:focus,
      &:hover {
        color: #097366;
      }
    }
  }
  h3 {
    margin-bottom: 12px;
  }
  .tech-used {
    margin-top: 12px;
    margin-bottom: 20px;
  }
  strong {
    display: block;
  }
  .button-container {
    display: flex;
    justify-content: space-around;
  }
}

.grey-background {
  background: #e5e5e5;
}

@media (max-width: 768px) {
  .projects-container {
    background-attachment: revert;
  }
  .project-card-list {
    .card {
      flex: 0 0 100%;
    }
  }
  .skills-list {
    flex-wrap: wrap;
    button {
      width: 20%;
      margin-bottom: 16px;
    }
  }
}

@media (max-width: 450px) {
  .skills-list {
    margin-bottom: 48px;
    button {
      width: 33%;
    }
  }

  .project-card-list {
    .copy {
      padding: 30px 20px;
      min-height: 480px;
    }
    .button-positioning {
      left: 20px;
      .btn-secondary {
        padding: 8px 4px;
        // margin: 0 5px;
      }
    }
  }
}
