.projects-container {
  position: relative;
  overflow: hidden;
  h1 {
    text-align: center;
    padding: 174px 0 64px;
  }
  svg {
    position: absolute;
    z-index: -1;
  }
}

.skills-list {
  @include wrapper;
  display: flex;
  justify-content: space-around;
  margin-bottom: 60px;
  button {
    background: none;
    border: none;
    border-bottom: 2px solid transparent;
    &:focus {
      outline: none;
      border-bottom: 2px solid $accent-text;
    }
  }
  .active-btn {
    font-weight: bold;
    color: $accent-text;
    border-bottom: 2px solid $accent-text;
  }
}

.project-card-list {
  @include wrapper;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .card {
    flex: 0 0 45%;
    border: 1px solid $dark-main;
    background: $white;
    margin-bottom: 60px;
    position: relative;
  }
  .button-positioning {
    position: absolute;
    bottom: 30px;
    left: 30px;
    width: 90%;
  }
  img {
    border-bottom: 1px solid #e5e5e5;
  }
  .copy {
    padding: 30px;
    min-height: 380px;
    a {
      color: $button-background-teal;
      &:focus,
      &:hover {
        color: #097366;
      }
    }
  }
  h3 {
    margin-bottom: 12px;
  }
  .tech-used {
    margin-top: 12px;
    margin-bottom: 20px;
  }
  strong {
    display: block;
  }
  .button-container {
    display: flex;
    justify-content: space-around;
  }
}

.grey-background {
  background: #e5e5e5;
}

@media (max-width: 1200px) {
  .project-card-list {
    .copy {
      min-height: 400px;
    }
    .btn-secondary {
      margin: 2.5px 0;
      padding: 8px;
    }
  }
}

@media (max-width: 1024px) {
  .project-card-list {
    .copy {
      min-height: 470px;
    }
  }
}

@media (max-width: 991px) {
  svg {
    top: -470px;
  }
}

@media (max-width: 768px) {
  .projects-container {
    background-attachment: revert;
    svg {
      left: -160px;
    }
  }
  .project-card-list {
    .card {
      flex: 0 0 100%;
    }
    .button-positioning {
      position: initial;
      width: 100%;
    }
    .copy {
      min-height: initial;
    }
    .button-container {
      justify-content: space-evenly;
      padding-bottom: 30px;
    }
    .tech-used {
      margin-bottom: 0;
    }
    .btn-secondary {
      padding: 13px 55px;
    }
  }
  .skills-list {
    flex-wrap: wrap;
    button {
      width: 20%;
      margin-bottom: 16px;
    }
  }
}

@media (max-width: 480px) {
  .skills-list {
    margin-bottom: 48px;
    button {
      width: 33%;
    }
  }

  .projects-container {
    svg {
      max-width: 100%;
      top: -400px;
      right: 160px;
    }
  }

  .project-card-list {
    .copy {
      padding: 20px;
    }
    .button-positioning {
      .btn-secondary {
        padding: 8px;
      }
    }
  }
}
