.projects-container {
  background: rgba(0, 0, 0, 0.5) url("/images/projects-bg.jpg") no-repeat;
  //   height: 100vh;
  //   background: rgba(0, 0, 0, 0.5) url("/images/hero.jpg") no-repeat;
  background-size: cover;
  //   background-position: center;
  background-position: 0 5%;
  //   position: relative;
  h1 {
    text-align: center;
    margin: 174px 0 64px;
  }
}

.skills-list {
  @include wrapper;
  display: flex;
  justify-content: space-around;
  margin-bottom: 60px;
}
