// stripping styles
* {
  padding: 0;
  margin: 0;
  line-height: 1.6;
}

body {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  color: $dark-main;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
}

.lazyload-wrapper {
  height: 100%;
}

.nav-wrapper {
  max-width: 1420px;
  width: 95%;
  margin: 0 auto;
}

.wrapper {
  @include wrapper;
}

.skip-link {
  position: absolute;
  left: -1000px;
  top: 5px;
  z-index: 999;
  background: black;
  color: white;
}

.skip-link:focus {
  left: 0;
}

// heading styles
h1 {
  @include desktopHeading1;
}

h2 {
  @include desktopHeading2;
}

h3 {
  @include desktopHeading3;
}

h4 {
  @include desktopHeading4;
}

.btn-primary {
  @include button($secondary-accent-text, 13px 55px);
  border: 3px solid $secondary-accent-text;
  &:hover {
    background: #b55700;
    border: 3px solid #b55700;
  }
  &:focus {
    background: #b55700;
    border: 3px solid #ffab5c;
  }
}

.btn-secondary {
  @include button($button-background-teal, 13px 55px);
  border: 3px solid $button-background-teal;
  &:hover {
    background: #097366;
    border: 3px solid #097366;
  }
  &:focus {
    background: #097366;
    border: 3px solid $secondary-dark-bg;
  }
}

.social-icons-container {
  display: flex;
  justify-content: space-between;
}

.social-icons-container {
  max-width: 225px;
  a {
    color: $dark-main;
    transition: 0.3s ease all;
    &:hover,
    &:focus {
      //   color: $secondary-dark-bg;
    }
  }
  svg {
    height: 48px;
    width: 48px;
  }
}

// scroll to about arrow
.scroll-to-about {
  position: absolute;
  bottom: 45px;
  left: calc(50% - 29px);
}

//see more projects/scroll to top arrow
aside {
  position: relative;
  text-align: center;
  h2 {
    padding-top: 85px;
    @include wrapper;
    margin-bottom: 30px;
  }
  a {
    margin-bottom: 84px;
  }
  .top {
    margin-bottom: 0;
  }
}

.arrow {
  height: 100px;
  width: 58px;
}

.top {
  position: absolute;
  bottom: 34px;
  left: 90%;
  z-index: 50;
  color: $dark-main;
  padding: 10px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  img {
    margin-bottom: 10px;
  }
  p {
    text-align: center;
    width: 58px;
    font-weight: bold;
  }
}

.grey-background {
  background: #e5e5e5;
}

.selected {
  font-weight: bold;
}

.error-section {
  min-height: 80vh;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  svg {
    position: absolute;
    z-index: -1;
    left: 0px;
  }
  .error-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  h1 {
    @include wrapper;
    margin-bottom: 16px;
    text-align: center;
  }
}

// media queries
@media (max-width: 768px) {
  // heading styles
  h1 {
    @include desktopHeading2;
  }

  h2 {
    @include desktopHeading3;
  }

  h3 {
    @include desktopHeading4;
  }

  h4 {
    @include desktopHeading5;
  }
  .error-section {
    svg {
      left: -160px;
      top: -460px;
    }
  }
}

@media (max-width: 480px) {
  h1 {
    @include desktopHeading3;
  }

  h2 {
    @include desktopHeading4;
  }

  h3 {
    @include desktopHeading5;
  }

  h4 {
    @include desktopHeading5;
  }
  .social-icons-container {
    margin: 0 auto;
  }
  .arrow {
    height: 64px;
  }
  .scroll-to-about {
    bottom: 10px;
    left: 40%;
  }
  .top {
    padding: 10px 0;
    bottom: -50px;
    left: 75%;
    background: $secondary-accent-text;
    color: $white;
    border: 3px solid transparent;
    img {
      transform: rotate(180deg);
    }
    &:hover {
      background: #b55700;
      border: 3px solid #b55700;
    }
    &:focus {
      background: #b55700;
      border: 3px solid #ffab5c;
    }
    img {
      height: 24px;
    }
  }
  .error-section {
    svg {
      max-width: 100%;
      top: -400px;
      right: 160px;
    }
  }
}

@media (max-width: 360px) {
  .error-section {
    h1 {
      margin-top: 60px;
    }
  }
}
