/*** COLOURS ***/

/* 5.1 Accent Text (Light Background) */
$accent-text: #0d8274;

/* 5.1.2 Secondary Accent (Light Background) */
$secondary-accent-text: #e66f00;

/* 5.5 Main Text */
$dark-main: #1c2c63;

/* 5.6.2 Button Background */
$button-background-teal: #0b9988;

/* 5.2 Accent Text (Dark Background) */
$accent-text-dark-bg: #ffab5c;

/* 5.2.1 Secondary (Dark Background) */
$secondary-dark-bg: #1fe7c3;

/* 5.4 Text (Dark Background) */
$white: #ffffff;

/*** FONT STYLES ***/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/*** BUTTONS mixin ***/

@mixin button($background, $padding) {
  font-size: 1.25rem;
  color: $white;
  text-align: center;
  background: $background;
  padding: $padding;
  display: inline-block;
}

@mixin wrapper {
  max-width: 1280px;
  width: 90%;
  margin: 0 auto;
}

// font-size
@mixin desktopHeading1 {
  font-weight: 600;
  font-size: 2.75rem;
  line-height: 66px;
  span {
    color: $white;
  }
}

@mixin desktopHeading2 {
  font-weight: 500;
  font-size: 2rem;
  line-height: 48px;
}

@mixin desktopHeading3 {
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 36px;
}

@mixin desktopHeading4 {
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 27px;
}

@mixin desktopHeading5 {
  font-weight: 600;
  font-size: 1.1rem;
  line-height: 26px;
}
