/*** COLOURS ***/

/* 5.1 Accent Text (Light Background) */
$accent-text: #0d8274;

/* 5.1.2 Secondary Accent (Light Background) */
$secondary-accent-text: #e66f00;

/* 5.5 Main Text */
$dark-main: #1c2c63;

/* 5.6.2 Button Background */
$button-background-teal: #0b9988;

/* 5.2 Accent Text (Dark Background) */
$accent-text-dark-bg: #ffab5c;

/* 5.2.1 Secondary (Dark Background) */
$secondary-dark-bg: #1fe7c3;

/* 5.4 Text (Dark Background) */
$white: #ffffff;

/*** FONT STYLES ***/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/*** BUTTONS mixin ***/

@mixin button($background, $padding) {
  font-size: 1.25rem;
  color: $white;
  text-align: center;
  background: $background;
  padding: $padding;
  display: inline-block;
}

@mixin wrapper {
  max-width: 1280px;
  width: 90%;
  margin: 0 auto;
}
