/*** COLOURS ***/

/* 5.1 Accent Text (Light Background) */
$accent-text: #0D8274;

/* 5.1.2 Secondary Accent (Light Background) */
$secondary-accent-text: #E66F00;

/* 5.5 Main Text */
$main-text: #1C2C63;

/* 5.6.1 Button Background */
$button-background: #E66F00;

/* 5.6.2 Button Background */
$button-background-teal: #0B9988;

/* 5.2 Accent Text (Dark Background) */
$accent-text-dark-bg: #FFAB5C;

/* 5.2.1 Secondary (Dark Background) */
$secondary-dark-bg: #1FE7C3;

/* 5.4 Text (Dark Background) */
$text: #FFFFFF;

/* 5.3 Dark Background */
$dark-bg: #1C2C63;

/*** FONT STYLES ***/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

/*** BUTTONS mixin ***/

@mixin button ($background, $padding) {
    font-size: 1.25rem;
    color: $text;
    text-align: center;
    background: $background;
    padding: $padding;
}