@import "partials/variables";

.socialContainer {
  margin-top: 88px;
}

.about {
  display: flex;
  padding: 155px 0;
  @include wrapper;
  .portraitContainer {
    flex: 0 0 calc(50% - 142px);
    margin-right: 142px;
  }
  .copy {
    flex: 0 0 50%;
  }
  h2 {
    color: $accent-text;
    margin-bottom: 12px;
  }
  p {
    margin-bottom: 36px;
  }
}

.skills {
  h2 {
    margin-bottom: 30px;
  }
  @include wrapper;
  display: flex;
  padding: 55px 0;
  text-align: center;
}

@media (max-width: 768px) {
  .heroBackground {
    height: unset;
    background-position: 80%;
    h1 {
      max-width: 60%;
    }
  }
  .about {
    padding: 55px 0;
    .portraitContainer {
      flex: 0 0 calc(50% - 48px);
      margin-right: 48px;
      align-self: center;
    }
    p:last-child {
      margin-bottom: 0;
    }
  }
  .skills {
    flex-direction: column;
  }
}

@media (max-width: 450px) {
  .heroBackground {
    background-position: 60%;
    margin-bottom: 40px;
    h1 {
      max-width: 100%;
      padding-top: 180px;
    }
  }
  .socialContainer {
    margin-top: 20px;
    padding-bottom: 120px;
  }

  .about {
    flex-direction: column;
    .portraitContainer {
      margin-right: 0;
    }
  }
}
